<div class="row">
  <div class="col-sm-6 h2"><i class="fa fa-hourglass-o"></i>Smart Watches</div>
  <div class="col-sm-6 text-right">
    <button class="btn btn-success" data-target="#addSmart" data-toggle="modal">Add Watches</button>
    <div class="modal fade" id="addSmart">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content container bg-dark text-white">
          <div class="modal-header mt-3">
            <button class="close text-white" data-dismiss="modal">X</button>
          </div><hr/>
          <div class="modal-body mt-3">
            <form #addwatch="ngForm">
              <div class="row">
                <div class="col-sm-4 form-group text-center">
                  <label title="Name" for="name">Name</label>
                </div>
                <div class="col-sm-8 form-group">
                  <input type="text" id="name" name="name" class="form-control" placeholder="Name of Watch..." ngModel>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="Name" for="productID">Product Id</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="productID" name="productID" class="form-control" placeholder="should be Unique..." ngModel>
                  </div>
                </div>    
              <div class="row">  
                <div class="col-sm-4 form-group text-center">
                  <label for="price">Price</label>
                </div>
                <div class="col-sm-8 form-group" >
                  <input type="number" id="price" name="price" class="form-control" placeholder="Price of Watch..." ngModel>
                </div>
              </div>
              <div class="row">  
                <div class="col-sm-4 form-group text-center">
                  <label for="suitsFor">Suitable for</label>
                </div>
                <div class="col-sm-8 form-group" >
                  <input type="text" id="suitsFor" name="suitsFor" class="form-control" placeholder="Eg:-sports,fitness,etc..." ngModel>
                </div>
              </div>
              <div class="row">  
                  <div class="col-sm-4 form-group text-center">
                    <label for="image">image</label>
                  </div>
                  <div class="col-sm-8 form-group" >
                    <input type="text" id="image" name="image" class="form-control" placeholder="imageURL" ngModel>
                  </div>
                </div>
              <div class="row">
                <div class="col-sm-4 form-group text-center">
                  <label title="RAM" for="clockType">Clock Type</label>
                </div>
                <div class="col-sm-8 form-group">
                  <input type="text" id="clockType" name="clockType" class="form-control" placeholder="Analog or Digital..."ngModel>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 form-group text-center">
                  <label title="ROM" for="waterResistant">Water Resistant</label>
                </div>
                <div class="col-sm-8 form-group">
                  <input type="text" id="waterResistant" name="waterResistant" class="form-control" placeholder="with Rating..." ngModel>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="Camera" for="display">Display Type</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="display" name="display" class="form-control" placeholder="Display Type..." ngModel>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="inch" for="battery">Battery</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="battery" name="battery" class="form-control" placeholder="mAh..." ngModel>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="processor" for="touch">Touch Screen</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="touch" name="touch" class="form-control" placeholder="Yes or No...?" ngModel>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="battery" for="functions">Other Functions</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="functions" name="functions" class="form-control" placeholder="functions..." ngModel>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group text-center">
                    <label title="box" for="box">box</label>
                  </div>
                  <div class="col-sm-8 form-group">
                    <input type="text" id="box" name="box" class="form-control" placeholder="contents in package..." ngModel>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-1 mb-5 text-center" >
                  <button type="submit" class="btn btn-warning pt-1" (click)="onAddWatch(addwatch.value)"data-dismiss="modal">
                      Add
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-1">
  <table class="table text-center">
    <thead class="thead-dark">
      <th>S.No</th>
      <th>Product_ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Suits for</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tr *ngFor="let watch of watchDetails;let ind=index">
      <td>{{ind+1}}</td>
      <td>{{watch.productID}}</td>
      <td>{{watch.name}}</td>
      <td>{{watch.price | currency:"INR"}}</td>
      <td>{{watch.suitsFor}}</td>
      <td>
        <button class="btn" data-toggle="modal" [attr.data-target]="'#'+watch.productID">
          <i class="fa fa-pencil-square-o fa-lg"></i>
        </button>
        <div class="modal fade" [id]=watch.productID>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content container bg-dark text-white">
                <div class="modal-header mt-3">
                  <button class="close text-white" data-dismiss="modal">X</button>
                </div><hr/>
                <div class="modal-body mt-3">
                  <form #editWatch="ngForm">
                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="Name" [for]=watch.name>Name</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.name name="name" class="form-control" [(ngModel)]=watch.name>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="Name" [for]=watch.productID>Product Id</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.productID name="productID" class="form-control" [(ngModel)]=watch.productID readonly>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-sm-4 form-group text-center">
                          <label [for]=watch.price>Price</label>
                        </div>
                        <div class="col-sm-8 form-group" >
                          <input type="number" [id]=watch.price name="price" class="form-control"[(ngModel)]=watch.price>
                        </div>
                    </div> 
                    <div class="row">  
                        <div class="col-sm-4 form-group text-center">
                          <label [for]=watch.image>image</label>
                        </div>
                        <div class="col-sm-8 form-group" >
                          <input type="text" [id]=watch.image name="image" class="form-control" [(ngModel)]=watch.image>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="RAM" [for]=watch.suitsFor>Suitable for</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.suitsFor name="suitsFor" class="form-control" [(ngModel)]=watch.suitsFor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="ROM" [for]=watch.clockType>Clock Type</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.clockType name="clockType" class="form-control" [(ngModel)]=watch.clockType>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="Camera" [for]=watch.waterResistant>Water Resistant</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.waterResistant name="waterResistant" class="form-control" [(ngModel)]=watch.waterResistant>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="Camera" [for]=watch.display>Display Type</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.display name="display" class="form-control" [(ngModel)]=watch.display>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="inch" [for]=watch.battery>Battery</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.battery name="battery" class="form-control" [(ngModel)]=watch.battery>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="processor" [for]=watch.touch>Touch Screen</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.touch name="touch" class="form-control" [(ngModel)]=watch.touch>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="battery" [for]=watch.functions>Other Functions</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.functions name="functions" class="form-control" [(ngModel)]=watch.functions>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group text-center">
                          <label title="box" [for]=watch.box>In the Box</label>
                        </div>
                        <div class="col-sm-8 form-group">
                          <input type="text" [id]=watch.box name="box" class="form-control" [(ngModel)]=watch.box>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-1 mb-5 text-center" >
                          <button type="submit" class="btn btn-warning pt-1" (click)="onEditWatch(editWatch.value)" data-dismiss="modal">
                              Save Changes
                          </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </td>
      <td><button class="btn btn-danger" (click)="onDeleteWatch(watch)"><i class="fa fa-trash-o fa-lg"></i></button></td>
    </tr>
  </table>
</div>