<div class="container">
  
  <div class="text-center mt-3">
    <img class="img-fluid" src="https://www.e-gadget.it/slidebox/images/1.jpg" alt="egadgetlogo" width="490em" height='195em'>
  </div><hr/>
   
  <h5><strong> E-Gadgets:The One-stop Gadget Shopping Destination </strong></h5>
  <p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest gadgets like mobiles,Laptops,headsets,smartwatches when you can find it on the Internet in a single click</p>
  <br/>

  <h5><strong> What Can You Buy From E-Gadgets?</strong></h5>

  <h6>Mobile Phones</h6>
  <p>From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there</p>

  <h6>Laptops</h6>
  <p>
    All you students out there, confused about what laptop to get? Our Back To College Store segregates laptops purpose wise (gaming, browsing and research, project work, entertainment, design, multitasking) with recommendations from top brands and industry experts, facilitating a shopping experience that is quicker and simpler.
  </p>
  
  <h6>Headsets</h6>
  <p>
    Wide range of Headsets from greatest brands and latest models...
  </p>

  <h6>Smart Watches</h6>
  <p>Only watches?more than that...Smart Watches and Smart Bands</p><hr/>

  <div class="row">

    <div class="col-md-4 jumbotron bg-dark text-white">
      <h5 class="text-center"><i class="fa fa-building-o"></i>Address</h5>
      <pre class=" text-white text-left">
  6-3-354/18,#203,
  Opp to Palem Leathers,
  Dwarakapuri colony,
  Besides Panjagutta Police Station,
  Panjagutta,Hyderabad-500082
      </pre>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 jumbotron bg-dark text-white">
        <h5 class="text-center"><i class="fa fa-mobile"></i>Phone</h5>
        <pre class=" text-white">
    9666914993
    8328686884
        </pre>
        <h5 class="text-center"><i class="fa fa-whatsapp"></i>whatsapp</h5>
        <pre class=" text-white">
    9666914993
        </pre>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 jumbotron bg-dark text-white">
        <h5 class="text-center"><i class="fa fa-twitter-square"></i>Social Networks</h5><br/>
        <pre class=" text-white">
    <i class="fa fa-facebook-square"></i>/EgadgetsUma
    <i class="fa fa-twitter"></i>@EgadgetsUma
    <i class="fa fa-youtube-play"></i>/EgadgetsUma
        </pre>
    </div>
  </div>

  </div>
